<!DOCTYPE html>
<html lang="ar">
<head>
<meta charset="UTF-8" />
<title>لوحة التحكم</title>
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body class="dashboard-body">
<header class="top-bar">Saudi Bank Dashboard</header>


<section class="cards">
<div class="card">رصيد المحفظة<br><strong>120,000 SAR</strong></div>
<div class="card">الأسهم النشطة<br><strong>5</strong></div>
<div class="card">آخر صفقة<br><strong>شراء</strong></div>
</section>
</body>
</html>